services:
  searxng:
    container_name: searxng
    image: searxng/searxng:latest
    ports:
      - "55510:8080"
    volumes:
      - ./searxng:/etc/searxng:rw
    environment:
      - SEARXNG_BASE_URL=http://localhost:55510/
